<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
    <title>Курсы валют</title>
</head>
<body>
    <header>
        <h1 class="text-center">Курсы валют</h1>  
    </header>

    {{{body}}}

    <footer>
        <p class="text-center">
            &copy; 2020 Vladislav Panyukov
        </p>
    </footer>
</body>
</html>